<h1 class="body__heading">{{ post.title }}</h1>
<div class="post__info">
	<span class="post__author">Leslie Pena</span>
	<div class="post__dot">
		<div class="post__dot-figure"></div>
	</div>
	<span class="post__date">April 25, 2012</span>
	<span class="post__ago">(6 mins read)</span>
</div>
<div class="body__tags">
	<span class="body__tags-item">#technology</span>
	<span class="body__tags-item">#tech</span>
	<span class="body__tags-item">#career</span>
</div>
<p class="body__text post__text">{{ post.body }}{{ post.body }}{{ post.body }}</p>
<p class="body__text post__text">{{ post.body }}{{ post.body }}{{ post.body }}{{ post.body }}</p>
<p class="body__text post__text">{{ post.body }}{{ post.body }}</p>